body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
}

.search-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.search-title {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
    color: #333;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-item {
    flex: 1;
    min-width: 200px;
}

.form-input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.btn-search {
    padding: 15px;
    background-color: #28a745; /* Xanh lá cây */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-search:hover {
    background-color: #218838; /* Xanh lá cây đậm hơn khi hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Định nghĩa màu sắc cho các nút */
.btn-primary {
    background-color: #007BFF;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745; /* Xanh lá cây */
    color: white;
}

.btn-success:hover {
    background-color: #218838; /* Xanh lá cây đậm hơn khi hover */
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}
